.App {
  height: 100vh;
  overflow: auto;
}
a {
  color: white;
  text-decoration: none;
}

.loader-wrapper {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 100px;
  height: 100px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: #599100;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}
.loader-inner {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 2px solid transparent;
  border-top-color: #bbff4e;
  border-radius: 50%;
  animation: spin 0.4s linear infinite reverse;
}
@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
